* {
    /* Disable selection/Copy of UIWebView */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input,textarea {
    /* Exception for input areas */
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes rotating {
  100% { transform: rotate(360deg); }
}

.loading {
  display: inline-block;
  animation: rotating 2s linear infinite;
}

.highlight-cell {
  transition: background-color 0.3s;
}

.highlight-cell:hover {
  background-color: #ffb3b3;
}
